div.taxonomy {
  background-repeat: no-repeat;
  background-position: center center;
  height: 259px;
  width:100%;
  display: table;
  margin-bottom: 20px;
}
div.taxonomy h1 {
  color:rgba(255,255,255,1);
  display: table-cell;
  vertical-align: bottom;
  font-size: 80px;
  text-shadow: 2px 2px 2px #333;
  padding-left: 20px;
}
div.dessert {
  background-image: url(../img/desert_bg.jpg);
}

main.site-main article > div {
  position: relative;
}
main.site-main article > div span {
  position: absolute;
  left:0;
  top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
